  button {
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma,        Geneva, Verdana, sans-serif;
            cursor: pointer;
        }

        button {
            border: 2px solid rgb(24, 157, 234);
        }

        button {
            border: 2px solid blueviolet;
        }

        button {
            color: red;
        }

        #btn-2 {
            color: green;
        }

        .btn {
            color: blue;
        }

        .my-class-a {
            color: red;
            text-decoration: underline;
        }

        .my-class-b {
            font-size: 30px; 
        }

        #btn-1 {
            color: pink;
        }